<table class="bg-[#eeeeee] table-with-padding footer-section">
    <tr>
      <td class="w-[350px] align-top text-sm">
        <p>Had enough emails?</p>
        <p>
          You can
          <a class="underline" href="@{{ unsubscribe_url }}"
            >unsubscribe</a
          >
          at any time.
        </p>
      </td>
      <td class="w-[200px] align-top">
        <p>R for the Rest of Us</p>
        <p>3519 NE 15th Avenue</p>
        <p>Suite #167</p>
        <p>Portland, OR 97212</p>
      </td>
    </tr>
  </table>