<table class="bg-[#eeeeee] table-with-padding">
  <tr>
    <td>
      <h2 class="align-center text-white text-center">
        <span class="bg-[#404E6B] p-2"> Here to Help on Your R Journey </span>
      </h2>
    </td>
  </tr>
</table>
<table class="bg-[#eeeeee] table-with-padding">
  <tr>
    <td class="w-[75px] align-top text-center">
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/courses-icon.svg"
      />
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/turny-dotted.svg"
      />
    </td>
    <td class="w-[5px]"></td>
    <td>
      <h3>Courses</h3>
      <ul class="list-none ml-0 pl-0 text-sm">
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/getting-started/"
            >Getting Started with R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/fundamentals/"
            >Fundamentals of R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/going-deeper/"
            >Going Deeper with R</a
          >
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-none ml-0 pl-0 text-sm">
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/glamour/"
            >The Glamour of Graphics</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/git-github/"
            >Using Git and GitHub with R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/mapping/"
            >Mapping with R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/data-cleaning/"
            >Data Cleaning with R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/package-development/"
            >Package Development with R</a
          >
        </li>
        <li class="my-1">
          <a href="https://rfortherestofus.com/courses/inferential-statistics/"
            >Inferential Statistics with R</a
          >
        </li>
      </ul>
    </td>
  </tr>
</table>

<component src="divider-gray.html"> </component>

<table class="bg-[#eeeeee] table-with-padding">
  <tr>
    <td class="w-[75px] align-top text-center">
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/training-icon.svg"
      />
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/turny-dotted.svg"
      />
    </td>
    <td class="w-[5px]"></td>
    <td>
      <h3 class="text-2xl font-bold mt-1">Training</h3>
      <p>
        Invest in your people, not in expensive software, by moving your team to
        R.
      </p>
      <div
        class="bg-[#404E6B] px-4 py-2 mt-4 lg:w-auto mb-4 inline-block shadow-black shadow-lg text-white rounded-lg"
      >
        <a
          class="text-white no-underline font-medium"
          href="https://rfortherestofus.com/custom-training/"
        >
          Learn More
        </a>
      </div>
    </td>
  </tr>
</table>

<component src="divider-gray.html"> </component>

<table class="bg-[#eeeeee] table-with-padding">
  <tr>
    <td class="w-[75px] align-top text-center">
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/consulting-icon.svg"
      />
      <img
        src="https://github.com/rfortherestofus/convertkit-templates/raw/tables/src/images/turny-dotted.svg"
      />
    </td>
    <td class="w-[5px]"></td>
    <td>
      <h3 class="text-2xl font-bold mt-1">Consulting</h3>
      <p>Helping organizations communicate more effectively and efficiently.</p>
      <div
        class="bg-[#404E6B] px-4 py-2 mt-4 lg:w-auto mb-4 inline-block shadow-black shadow-lg text-white rounded-lg"
      >
        <a
          class="text-white no-underline font-medium"
          href="https://rfortherestofus.com/consulting/"
        >
          Learn More
        </a>
      </div>
    </td>
  </tr>
</table>

<component src="divider-gray.html"> </component>
