<table class="bg-[#eeeeee] table-with-padding pt-16">
  <tr>
    <td class="align-center align-middle">
      <h2 class="text-[#404E6B] text-2xl text-center mt-6 ">
        Here to Help on Your R Journey
      </h2>
    </td>
  </tr>
</table>
<table class="bg-[#eeeeee] table-with-padding">
  <tr>
    <td class="w-[50px] align-top text-center">
      <img
      class="mr-6"
        src="https://github.com/rfortherestofus/convertkit-templates/raw/main/src/images/courses-icon-and-arrow.png"
      />
      
    </td>
    
    <td class="align-top courses">
      <h3>Courses</h3>
      
      <p class="uppercase text-sm font-mono">
        Core Track
      </p>
        <p>
          <a href="https://rfortherestofus.com/courses/getting-started/"
            >Getting Started with R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/fundamentals/"
            >Fundamentals of R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/going-deeper/"
            >Going Deeper with R</a
          >
        </p>

        
          <p class="uppercase mt-6 text-sm font-mono">
          Topics Track
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/glamour/"
            >The Glamour of Graphics</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/git-github/"
            >Using Git and GitHub with R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/mapping/"
            >Mapping with R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/data-cleaning/"
            >Data Cleaning with R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/package-development/"
            >Package Development with R</a
          >
        </p>
        <p>
          <a href="https://rfortherestofus.com/courses/inferential-statistics/"
            >Inferential Statistics with R</a
          >
        </p>
      </ul>
    </td>
    <td></td>
  </tr>
</table>



    <component src="divider-gray.html"> </component>

    <table class="bg-[#eeeeee] table-with-padding">
      <tr>
        <td class="w-[50px] align-top text-center">
          <img
          class="mr-6"
            src="https://github.com/rfortherestofus/convertkit-templates/raw/main/src/images/training-icon-and-arrow.png"
          />
         
        </td>
        
        <td>
          <h3 class="font-bold mt-1">Training</h3>
          <p>
            Invest in your people, not in expensive software, by moving your
            team to R.
          </p>
          
            <a
              class="text-white no-underline font-medium bg-[#404E6B] px-4 py-2 mt-4 lg:w-auto mb-4 inline-block shadow-lg rounded-lg"
              href="https://rfortherestofus.com/custom-training/"
            >
              Learn More
            </a>
          
        </td>
      </tr>
    </table>

    <component src="divider-gray.html"> </component>

    <table class="bg-[#eeeeee] table-with-padding">
      <tr>
        <td class="w-[50px] align-top text-center">
          <img
          class="mr-6"
            src="https://github.com/rfortherestofus/convertkit-templates/raw/main/src/images/consulting-icon-and-arrow.png"
          />
         
        </td>
        <td class="w-[5px]"></td>
        <td>
          <h3 class="font-bold mt-1">Consulting</h3>
          <p>
            Helping organizations communicate more effectively and efficiently.
          </p>
          <div
            class="bg-[#404E6B] px-4 py-2 mt-4 lg:w-auto mb-4 inline-block shadow-black shadow-lg text-white rounded-lg"
          >
            <a
              class="text-white no-underline font-medium"
              href="https://rfortherestofus.com/consulting/"
            >
              Learn More
            </a>
          </div>
        </td>
      </tr>
    </table>

    <component src="divider-gray.html"> </component>
  </tr>
</table>
